@charset "UTF-8";


/*Tout le site*/

body {
	background-color: #9E9E9E;
	font-size: 16px;
	
}

label
{
	display: block;
	width: 150px;
	float: left;
}

a{
	color: white;
	text-decoration: none;
}
a:hover{
	color: #333;
	text-shadow: #000;
}


/*page d'accueil*/

#entete{
	display: flex;
	justify-content: space-between;
}
.logo{
	margin-left: 5em;
}
.btnGroupLeft{
	margin-right: 5em;
}

.btnLeft{
	display: block;
	text-align: center;
	float: right;
	padding: 10px;
}
.barreRch{
	border-radius: 25px;
	
}
.titreH1{
	text-align: center;
}
.filtre{
	margin-left: 5%
}
#btnRech{
	display: inline-block;
	background-color: #7b38d8;
	border-radius: 10px;
	border: 4px double #cccccc;
	color: #eeeeee;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 200px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	cursor: pointer;
	margin: 5px;
}
#btnRech:hover{
	background-color: green;
	
}
.cardVente{
	display: flex;
	justify-content: space-around; 
	padding: 1.5em;
	max-width: 100%;
	border: solid 1px #333;
	margin: 1em;
	background-color: #666;
	color: whitesmoke;
}
.imageVente{
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	
}
.detailVente{
	margin-left: 3em;
}
.secArticle{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
/*Affichage d'un article*/

/*Création compte */

/*detail vente */

/*Modifier Profi*/

/*Mon profil*/

/*Nouvelle vente*/

/*Page de connexion */

.formulairePageConnexion {
	flex-direction: column;
	margin-top: 3em;
	width: 30em;
}
.id {
	font-weight: bold;
	color: #303030;
}
.mdp{
	color: #303030;
	font-weight: bold;
}
.champsSaisie {
	display: block;
}
.champsBouton {
	padding: 1em;
	display: inline;
}
.btn{
	
	padding: 1em;
}
.case {
	height: 25px;
	border-radius: 30px;
	text-align:center;
}
.titrePageConnexion {
	font-size: 20px;
}
.titrePageConnexion h1 {
	text-align: center;
	color: #303030;
}
.piedPageConnexion {
	text-align:center;
	margin-top: 50px;
}


