@charset "UTF-8";
body {
	background-color: #9E9E9E;
	font-size: 16px;
}

label{
	display: block;
	width: 150px;
	float: left;
}

a{
	color: black;
	text-decoration: none;
}
a:hover{
	color: white;
	text-shadow: #000;
}

/*Nouvelle vente*/
.logoNouvelleVente{
	margin-left: 5em;
}
.nouvelleVenteH2{
	text-align: center;
}
.formNouvelleVente{
	width: 30em;
	margin: auto;
}
.blocBtnNouvelleVente{
	display: inline-block;
}
#btnEnregistrer, #btnAnnuler{
	background-color: #000;
	border-radius: 10px;
	border: 4px double #cccccc;
	color: white;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 200px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	cursor: pointer;
}
#btnSupp{
	background-color: #000;
	border-radius: 10px;
	border: 4px double #cccccc;
	color: white;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	cursor: pointer;
}
#btnEnregistrer:hover{
	background-color: #154A80;
}
#btnSupp:hover{
	
	background-color: #154A80;
}
#btnAnnuler:hover {
	background-color: #154A80;
}

/* detail vente */
.titreH1DetailVente{
	text-align: center;
}
.containerDetailVente{
	width: 50%;
	margin: auto;
/*	padding-top: 3em;*/
}
#enteteDetail{
	display: flex;
	justify-content: space-between;
	
}
#champProposition{
		width: 50px;
}
.txtProposition{
	padding-top: 2em;
}
#btnRetour{
	background-color: #000;
	border-radius: 10px;
	border: 4px double #cccccc;
	color: white;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 150px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	cursor: pointer;
}
#btnRetour:hover{
	background-color: #154A80;
}
#btnRetour a{
	color: white;
}
.titreH1DetailVente{
	text-align: center;
}
/* Mon profil 
.lineProfil {
	display: grid;
    grid-template-columns: 175px 150px;
    margin : 1em;
}
.blockProfil {
	padding-left: 0 auto;
} */
.containerBtnProfil{
	display: flex;
	justify-content: center;
	}
.containerSection{
	width: 100%;
	margin: auto;
}





@media only screen and (max-width: 599px){
	.logoNouvelleVente{
		display: block;
		margin: 0px;
	}
	.blocBtnNouvelleVente{
		display: flex;
		flex-direction: row;			
	}
	.formNouvelleVente{
	display: flex;
	flex-direction: column;
	}
	#enteteDetail{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		text-align: center;
		float: none;
	}
	.containerDetailVente{
		padding-top: 1em;
		position: ;
		width: 80%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	#btnAnnuler{
		background-color: #000;
		border-radius: 10px;
		border: 4px double #cccccc;
		color: white;
		text-align: center;
		font-size: 20px;
		padding: 20px;
		width: 150px;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		-o-transition: all 0.4s;
		transition: all 0.4s;
		cursor: pointer;
	}
	#btnEnregistrer{
		background-color: #000;
		border-radius: 10px;
		border: 4px double #cccccc;
		color: white;
		text-align: center;
		font-size: 20px;
		padding: 20px;
		width: 150px;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		-o-transition: all 0.4s;
		transition: all 0.4s;
		cursor: pointer;
	}
	#btnRetour{
		background-color: #000;
		border-radius: 10px;
		border: 4px double #cccccc;
		color: white;
		text-align: center;
		font-size: 20px;
		padding: 20px;
		width: 150px;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		-o-transition: all 0.4s;
		transition: all 0.4s;
		cursor: pointer;
	}
	#champProposition{
		width: 50px;
	}
	.containerProfil{
		width:90%; 
		margin-left: 20%;
	}
	.containerBtnProfil{
	display: block;
	justify-content: space-around;
	margin-left: 15%;
	}
	
	
} /*FIN PARTIE RESPONSIVE */