@charset "UTF-8";


/*Tout le site*/

body {
	background-color: #9E9E9E;
	font-size: 16px;
}





/*page d'accueil*/
a{
	color: white;
	text-decoration: none;
}
a:hover{
	color: #333;
	text-shadow: #000;
}
#entete{
	display: flex;
	justify-content: space-between;
}
.logo{
	margin-left: 5%;
}
.btnLeft{
	margin-right: 5%
}
.titreH1{
	text-align: center;
}
.filtre{
	margin-left: 5%
}
.cardVente{
	display: flex;
	justify-content: space-around; 
	padding-left: 5px;
	padding-top: 3px;
	max-width: 100%;
	border: solid 1px #333;
	margin-left: 3%;
	margin-top: 3%;
	background-color: #666;
	color: whitesmoke;
}
.imageVente{
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	
}
.detailVente{
	margin-left: 3%;
}
.secArticle{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
/*Affichage d'un article*/

/*Création compte */

/*detail vente */

/*Modifier Profi*/

/*Mon profil*/

/*Nouvelle vente*/

/*Page de connexion */

.formulairePageConnexion {
	flex-direction: column;
	margin-top: 100px;
	display: flex;
	text-align: center;
}
.id {
	font-weight: bold;
	color: #303030;
}
.mdp{
	color: #303030;
	font-weight: bold;
	margin-left : 10px;
}
.formPageConnexion1 {
	width: 800px;
	display: inline-block;
}
.formPageConnexion2 {
	display: inline;
}
.case {
	height: 25px;
	border-radius: 30px;
	text-align:center;
}
.titrePageConnexion {
	font-size: 20px;
}
.titrePageConnexion h1 {
	text-align: center;
	color: #303030;
}
.piedPageConnexion {
	text-align:center;
	margin-top: 50px;
}


